<html>
    <head>
        <title>Edit User</title>
    </head>
    <body>
        <header>
            <h1>Edit User:</h1>
        </header>
        <form action="/register" method="POST">
            <input type="text" name="username" class="form-control" placeholder="Username" size="40">
            <input type="text" name="password" class="form-control" placeholder="Password" size="40">
            <input type="submit" value="submit">
        </form>
    </body>
</html>