<h1>Welcome to the Movie API!</h1>
<p>This application will give you many options</p>
<form action="/index" method="POST">
    <h2>Username</h2>
    <input type="text" name="username" placeholder="John" size="40">
    <h2>Password</h2>
    <input type="text" name="password" placeholder="Johsnon" size="40">
    <input type="submit" value="Login"> 
</form>

